{% load static  %}
<!DOCTYPE html>
<html>
    <head>  
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class =article-detail>
        <title> Articles</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <nav>
            {% if user.is_authenticated %}
            <li>

                <form class="logout-link" action="/accounts/logout/"method="post">
                    {% csrf_token %}
                   
                    <button type="submit">Logout</button>
                </form>
            </li>
            <li>
                <a href="{% url 'create'%}" class="site-form ">
                    New Article
                </a>
            </li>

            {% else %}
                <li>
                    <a href="{% url 'accounts:login'%}">
                        login
                    </a>
                </li>
                <li>
                    <a href="{% url 'accounts:signup'%}">
                        signup
                    </a>
                </li>
                
            {%endif%}
        </nav>
        <div class = "article-detail">
            <h1><a href="{% url 'home' %}">article</a></h1>

            {%block content%}
            {%endblock%}
        </div>
    </div>
    </body>
</html>